html {
    box-sizing: border-box;
}

.container {
    position: relative;
    min-height: 100vh;
    background: #000000;
}

.container #gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 5rem;
    /* display: grid;
    grid-template-columns: repeat(autofit, minmax(20rem, 1fr));
    grid-gap: 2rem; */
}

.galleryImg {
    height: 20rem;
    width: 20rem;
    border: 1rem solid #ffffff;
    transition: .2s linear;
    cursor: pointer;
}

.container #gallery .thumb {
    height: 20rem;
    width: 20rem;
    border: 1rem solid #ffffff;
    cursor: pointer;
}

.container #gallery .thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.container #gallery .thumb:hover img {
    transform: scale(1.05);
}

.container .enlarged-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    z-index: 10;
    cursor: pointer;
    display: none;
}

.container .enlarged-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1rem solid #ffffff;
    width: 90vw;
    object-fit: cover;
    
}